---
import ExperienceItem from "./ExperienceItem.astro";
import { experiencesList } from "../data/experiences-list";
---

<section class="bg-fixed bg-[radial-gradient(circle_at_25%_0%,#003e3e8f,transparent_35%),radial-gradient(circle_at_85%_100%,#003e3e8f,transparent_35%)]">
  <div
    class="max-w-[1560px] min-h-[935px] mx-auto px-16 pt-10 exp-items-container">
    <p id="experience"
       class="font-semibold text-3xl leading-[1.2] text-center tracking-[0.19em] uppercase text-[#009394] mb-12">
      Relevant experience</p>
    <div class="mt-12">
      {experiencesList.map(item =>
        <ExperienceItem compName={item.company} role={item.role}
                        date={item.date} compLink={item.href}
                        description={item.description} />)}
    </div>
  </div>
</section>
