---
const { compName, role, date, compLink, description, location, skills } = Astro.props;
---
<li class="grid grid-cols-[auto_1fr] md:flex md:flex-row justify-center -ml-4 md:ml-0">
  <div class="col-start-2 col-end-3 row-start-1 row-end-[none] m-1 md:w-1/3 shrink-0 flex flex-col items-start md:items-end gap-1">
    <span class="text-sm md:text-lg">{date}</span>
    <a href={compLink} target="_blank" class="w-fit text-base md:text-2xl md:text-right">{compName}</a>
    <span class="text-xs md:text-lg text-gray-400">{location}</span>
  </div>
  <div class="col-start-1 col-end-2 row-start-1 row-end-13 flex flex-col items-center text-base md:text-xl text-primary">
    <i class="fa-solid fa-check-circle text-current m-1" />
    <hr class="border-0 w-1 md:w-1.5 rounded-md bg-current h-full" />
  </div>
  <div class="col-start-2 col-end-3 row-start-5 row-end-13 m-1 mt-2 md:mt-0">
    <h6 class="text-base md:text-2xl uppercase col-start-1">{role}</h6>
    <p class="mt-2 text-base md:text-xl">{description}</p>
    <ul class="mt-1.5 mb-6 flex flex-wrap gap-1.5 text-xs md:text-lg text-link italic">{skills.map((item: string) => <li><span>{item}</span></li>)}</ul>
  </div>
</li>

