---
import ExperienceItem from "./ExperienceItem.astro";
import { experiencesList } from "../data/experiences-list";
---

<section
  class="bg-fixed min-h-screen bg-[radial-gradient(circle_at_0%_0%,var(--primary-color)_-67%,transparent_35%),radial-gradient(circle_at_100%_100%,var(--primary-color)_-67%,transparent_35%)]">
  <div class="max-w-[1560px] mx-auto px-10 lg:px-16 py-10">
    <h4 id="experience"
       class="text-2xl lg:text-3xl text-center uppercase text-primary mb-12">
      Relevant experience</h4>
    <ul class="max-w-5xl mx-auto w-full mt-12">
      {experiencesList.map(item =>
        <ExperienceItem compName={item.company} role={item.role}
                        date={item.date} compLink={item.href}
                        description={item.description} location={item.location}
                        skills={item.skills} />)}
    </ul>
  </div>
</section>
