---
const {
  thumbnail,
  name,
  description,
  detailsUrl,
  status,
  skills,
} = Astro.props;
---

<div class="flex flex-col gap-10 w-full max-w-[360px] min-w-60">
  <div class="overflow-hidden rounded-t-md max-h-64">
    <img src={thumbnail} alt={name}
         class="w-auto h-full object-cover hover:scale-110">
  </div>
  <div class="flex flex-col gap-5">
    <div>
      <h6 class="font-bold text-2xl leading-[1.22]">{name}</h6>
      <span
        class="py-0.5 px-1.5 bg-[#00abac] text-xs font-bold w-fit rounded-md">{status}</span>
    </div>
    <div>
      <p class="font-medium leading-[1.25]">{description}</p>
      <ul
        class="flex gap-1.5 text-sm italic font-bold text-[#00abac]">{skills.slice(0, 3).map((item: string) =>
        <li><span>{item}</span></li>)}</ul>
    </div>
  </div>
  <a href={detailsUrl}
     class="p-[10px_20px] rounded-md bg-[#009394] hover:bg-[#006270] font-medium text-lg leading-[1.22] tracking-[0.08em] w-fit cursor-pointer">Read
    details</a>
</div>